* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

@font-face {
  font-family: 'tiny';
  src: url('../TinyUnicode.ttf') 
}

body {
  color: white;
  background: #181a1c;
  font-family: 'tiny';
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  visibility: hidden;
}

img {
  image-rendering: pixelated;
}

a {
  text-decoration: none;
}

.font-pixel {
  font-family: 'tiny';
}
